<div class="panel panel-default facet_limit blacklight-Date">
  <div class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#facet-Date">
    <h5 class="panel-title"><a data-no-turbolink="true" href="#">Date</a></h5>
  </div>
  <div id="facet-Date" class="panel-collapse facet-content collapse">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <li><%= show_date_link 5 %></li>
        <li><%= show_date_link 10 %></li>
      </ul>
    </div>
  </div>
</div>
