<div id="sort-dropdown" class="btn-group">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
    <%= link_to(show_current_sort, "#") %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <%= show_sort_options %>
  </ul>
</div>